<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dreamroute.sqlprinter.boot.mapper.UserMapper">
    <select id="selectUsers" resultType="com.github.dreamroute.sqlprinter.boot.domain.User">
        select * from smart_user
    </select>

    <select id="selectUserByIds" resultType="com.github.dreamroute.sqlprinter.boot.domain.User">
        select * from smart_user where id in
        <foreach collection="ids" index="index" item="item" separator="," open="(" close=")">
            (#{item})
        </foreach>
    </select>
</mapper>